.header-div {
  position: relative;
  height: 116px;
  background-color: rgb(3, 98, 249);
  width: 100%;
}
h1 {
  position: absolute;
  top: 16px;
  left: 10px;
  color: white;
  font-weight: 600;
}
nav {
  position: absolute;
  display: flex;
  bottom: 0;
  list-style: none;
  color: white;
  text-align: center;
}
nav li {
  text-decoration: none;
  cursor: pointer;
  width: 80px;
  padding: 5px;
  font-size: 20px;
}
nav li:hover {
  border-bottom: 2px rgb(255, 255, 255) solid;
}

/* content */
.Content {
  padding: 1rem;
}
.Content h2 {
  margin-bottom: 2rem;
  color: white;
}
.Content p {
  color: white;
}
